---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}/" />
  <id>{{ site.url }}/</id>
  {%- if collections.articles.length %}
  <updated>{{ collections.articles[0].date | isoDate }}T00:00:00Z</updated>
  {%- endif %}
  {%- for post in collections.articles %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}" />
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | isoDate }}T00:00:00Z</updated>
    <summary>{{ post.data.subtitle }}</summary>
    {%- set writer = post.data.author | author %}
    <author><name>{{ writer.name if writer else post.data.author }}</name></author>
  </entry>
  {%- endfor %}
</feed>
